section {
    position: relative;
    
    z-index: 0;
}


.inner {
    max-width: 1640px;
    margin: auto;
    position: relative;
}

h2.tit {
    font-size: 100px;
    font-weight: 800;
}

p.txt {
    font-size: 17px;
    max-width: 470px;
    margin-top: 30px;
}

.tit-wrap {
    position: relative;
}

a.btn {
    display: inline-flex;
    width: 150px;
    height: 47px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 900;
    background-color: #801086;
    color: #fff;
    text-transform: uppercase;
    border-radius: 47px;
}