/* .mob-nav-btn {
    display: none;
    width: 30px;
    height: 20px;
    background-color: red;
} */

.fixed-arrow {
    position: fixed;
    z-index: 3;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background: rgba(126, 126, 126, 0.4) url(../image/Nature.png) no-repeat center;
    font-size: 0;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition:  all .3s;
    transform: translateY(20px);
}

header {
    position: fixed;
    z-index: 3;
    width: 100%;
}

body.scroll header {
    background-color: #000;
    transition: all .3s;
}

body.scroll .fixed-arrow {
    opacity: 1;
    transform: translateY(0);
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header .inner h1 {
    color: #fff;
}

.nav-lst {
    display: flex;
    gap: 42px;
}

.nav-lst a {
    display: block;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}

.sec-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-image: url(../image/grasslands.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.sec-1 .tit-wrap .txt {
    margin: 30px auto 50px;
}

.sec-2 {
    padding: 200px 0;
    background-color: #fff;  

}

.sec-2 .tit-wrap .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #c599ff;
    position: absolute;
    left: -100px;
    top: -50px;
    z-index: -1;
    animation: circle 5s infinite alternate linear;
}

.sec-2-lst .tit-wrap .circle:after {
    display: block;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #c599ff;
    top: -10px;
    left: calc(50% - 10px);
}

@keyframes circle {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.sec-2-lst {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 40px;
}

.sec-2-lst li {
    width: 260px;
   
}

.sec-2-lst li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 218px;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    box-shadow: 4px 4px 0 #848484b9;
    transition: all 0.3s;

}

.sec-2-lst li a:hover {
    transform: scale();
    background-color: #c599ff;
}

.sec-2-lst li a h4 {
    font-size: 35px;
    font-weight: 600;
    color: #c599ff;
}

.sec-2-lst li a p {
    color: #898989;
    font-size: 12px;
    max-width: 218px;
    text-align: center;
}

.sec-3 {
    display: flex; 
    height: 100vh;
    align-items: center;
}

.sec-3 .tit-wrap {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    
    align-items: center;
    text-align: center;
    background-color: #d8d8d8;
}



.sec-3 .tit-wrap .txt {
    margin-bottom: 30px;
}

.sec-3 .img-wrap {
    width: 50%;
    height: 100%;
    background-image: url(../image/Nature.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sec-4 {
    padding: 200px 0;
    background-color: #fff;
}

.sec-4 .tit-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-4 .tit-wrap a.btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.sec-4-lst {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.sec-4-lst li {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.sec-4-lst li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 350px;
    text-align: center;
    background-color: #d8d8d8;
    padding: 20px;
    gap: 15px;
}

.sec-4-lst li a h4 {
    font-size: 60px;

}

.sec-4-lst li:nth-child(even) a {
    margin-top: 60px;
}

.sec-5 {
    height: 650px;
}

.sec-5 h2.tit {
    font-size: 60px;
}

.sec-5 a.btn {
    width: auto;
    padding: 0 20px;
}

.sec-5-content-wrap .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
    z-index: 0;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    transition: all .3s;
}

.sec-5-content-wrap .content.on {
    z-index: 1;
    opacity: 1;
}

.sec-5-content-wrap .content p {
    margin: 30px 0 20px;
}

.sec-5-content-wrap .con-0 {
    background-image: url(../image/bg-4-1.png);
}
.sec-5-content-wrap .con-1 {
    background-image: url(../image/bg-4-2.png);
}
.sec-5-content-wrap .con-2 {
    background-image: url(../image/bg-4-3.png);
}
.sec-5-content-wrap .con-3 {
    background-image: url(../image/bg-4-4.png);
}

.sec-5-menu {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    gap: 10px;
    overflow: hidden;
    border-radius: 30px;
}

.sec-5-menu li a {
    background-color: rgba(255,255,255,0.212);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    transition: all .3s;
    justify-content: center;
    font-size: 17px;
    min-width: 150px;
    align-items: center;
}

.sec-5-menu li a span:first-child {
    opacity: .6;
}

.sec-5-menu li.active a {
    background-color: #7044c2;
    color: #fff;
}

.sec-5-menu li span {
    color: #fff;
}

.footer {
    background-color: #f1f1f1;
}

.footer .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 160px;
}

.left-footer h2 {
    font-size: 30px;
    font-weight: 0--;
}

.left-footer p {
    font-weight: 200;
}

.right-footer {
    display: flex;
    gap: 20px;
}